$theme-colors: (
        "primary": #EFBB35,
        "secondary": #222831,
);
$dark: #1A1D24;
$black: #000010;
$white: #FEFEFE;

@import "~bootstrap/scss/bootstrap";
@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

.hero {
  display: flex;
  min-height: calc(100vh - 15rem);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, black 100%), url(./Images/desk.webp);
  background-size: cover;
  background-position: center;
  color: $white;
  text-shadow: 0 0 0.3rem #000;

  .container {
    margin-bottom: 10rem;
  }

  h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.testinomials {
  background-color: theme-color("dark");
  margin-bottom: -160px + 64px;
  padding: 0 64px;
  .glide {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: -160px;
    padding-bottom: 32px;
  }
  .glide__arrows {
    @include media-breakpoint-down(md) { display: none; }
    button {
      border: none;
      border-radius: 0;
      box-shadow: none;

      svg {
        height: 64px;
        width: 36px;
      }

      &:first-child {
        left: -64px;
      }
      &:last-child {
        right: -64px;
      }
    }
  }
  .glide__bullets {
    bottom: 0;
    button {
      border-radius: 0;
      height: 12px;
      width: 64px;
      background-color: theme-color('light');
      &:hover {
        background-color: theme-color('light');
        border-color: theme-color('secondary');
      }
      &:focus, &.glide__bullet--active {
        background-color: theme-color('secondary');
        border-color: theme-color('secondary');
      }
    }
  }
  .glide__slide {
    height: auto;
  }
  .testimony {
    background-color: theme-color("primary");
    color: theme-color("dark");
    padding: 16px;
    height: 100%;
    margin: 64px 0 0 0;

    img {
      display: block;
      margin: -64px auto 32px;
      filter: grayscale(100%);
    }
    cite {
      display: block;
      margin-top: 16px;
      font-style: normal;
    }
  }
}

.skills {
  text-align: center;
  padding: 5rem 0 3rem 0;
  background-color: theme-color('dark');
  color: $white;

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    svg {
      width: 128px;
      height: auto;
      fill: $white;
      path {
        fill: $white;
      }
    }
  }
}

.gallery {
  background-color: $black;
  a, .pointer {
    display: block;
    cursor: pointer;
    position: relative;
    @include media-breakpoint-up(lg) {
      border: 2px solid $black;
      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(theme-color("primary"), 0.5);
        transition: all 250ms ease-out;
      }
      &:hover::after {
        background-color: rgba($black, 0);
      }
    }
    img {
      width: 100%;
    }
  }
}

.contact {
  padding: 6rem 0;
  background-color: theme-color("dark");
  color: theme-color('light');

  a {
    color: theme-color('light');
    display: block;
    margin-bottom: 1rem;
    font-size: 20px;

    &:hover {
      color: theme-color("primary");
      text-decoration: none;
    }

    svg {
      display: inline-block;
    }
    span {
      display: inline-block;
      padding-left: 4px;
    }
  }

  nav a {
    &:first-of-type {
      padding-left: 0;
    }
  }
}

.copyright {
  background-color: theme-color('dark');
  color: theme-color('light');
  border-top: 1px solid theme-color('primary');

  small {
    display: block;
    font-size: 16px;
    margin: 8px 0 8px 0;
  }
}